html, body{
  background-color: bisque;
  padding: 30px;
  border-radius: 20px;
}


.login-form, .signup-form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

form {
  background-color: bisque;
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
}

.container-fluid {
  display: grid;
  height: auto;
  width: auto;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.auto30{
  grid-template-columns: repeat(auto-fit, 25rem);
}

.grid {
  margin-left: 10%;
  margin-bottom: 4.5rem !important;
}

.task-tasklist-container{
  float: left;
}

a.tabs {
  color: black;
  justify-self: right;
}
/* need to move to the right */