.navbar {
    background-color: white;
    border-bottom: 2px solid #C4421A;
    margin-bottom: 25px;
    width: 100%;
    height: 80px;
}
  
.navbar a {
color: #12908E;
font-weight: bold;
text-decoration: none;
padding-left: 40px;
}
  
.navbar a:hover {
color: #C4421A;
text-decoration: none;
}
  
.logo {
height: 45px;
color:#C4421A;
}
